* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
#banner {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

li {
  list-style: none;
  margin: 5px;
}

.App {
  text-align: center;
}

#banner {
  flex-shrink: 3;
}
