label {
  text-transform: capitalize;
}
.edit-btn {
  width: 15px;
  height: 15px;
}

#fullNameInput {
  margin-left: 25px;
  width: 200px;
}

#cell {
  margin-left: 9px;
  width: 200px;
}

#email {
  margin-left: 34px;
  width: 200px;
}

#name {
  font-size: 2.2em;
}

#editContactBtn {
  margin-left: 87px;
}

.outline {
  border: 1px black solid;
  max-width: 600px;
  min-width: 400px;
}

#fromView {
  flex: 0 0 11%;
  padding-right: 0;
}

#toView {
  flex: 0 0 4%;
  padding-left: 0;
}

#workInputBtn {
  margin-left: 300px;
  position: absolute;
  bottom: 80px;
}

#fromForm {
  width: 25%;
}
#toForm {
  width: 25%;
}
